

.chart-table {
	border: 1px solid #cbcbcb;
	table-layout: fixed;
	width: 100%;
}

.chart-table td {
	background:#f8f8f8;
	height: 49px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #e0e0e0;
}
.chart-info  {
	table-layout: fixed;
	width: 100%;
}
.chart-info .chart-bottom  td{
	background: none;
	height: 26px;
	text-align: center;
	vertical-align: middle;
	border: none;
	
}
.chart-column-container {
	position: relative;
}
.chart-column {
	background: none repeat scroll 0 0 #3370B4;
    bottom: 0px;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0px 0px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -7px;
    position: absolute;
    width: 14px;   
	margin-bottom: 3px;
	max-height: 100px!important
}

.chart-left {
	
	
}
.chart-left.pull-left {
	width: 104px;
	padding: 20px 0 0 0;
	text-align: center;
}
.chart-left.pull-left  .number {

	display: block;
}
.chart-left .number {
	color:#2f5e92;
	font-size: 24px;
}
.chart-left + .chart-right {
	margin-left: 134px;
}

.form-chart input {
	background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FFFFFF, #F0F0F0);
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	text-align: center;
}
.export-container h3 {
	font-size: 16px;
	font-weight: bold;
}
.export-container .uiCheckbox {
	min-width: 170px;
}
.uiContentBox {
	position: relative;
}
.export-inner {
	padding: 20px 15px;
}
.export-container * {
	color: #FFFFFF;
}
.export-container .uiAction .btn {
	color:#333;
}
.export-container .uiAction .btn:first-child,.export-container .uiAction .btn-primary {
	color:#fff;
}
.export-container {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
       z-index: 999;
    height: 100%;
    left: 0;box-shadow: 0 1px 2px rgba(13, 13, 13, 0.2);
    position: absolute;
    top: 0;
    width: 100%; border-radius:0 0 4px 4px;
}
.export-container  .uiAction {
	text-align: left;
}